<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#db0000"/>	
	<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="icon" href="favicon.png">
		<link rel="manifest" href="manifest.json">
		<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<title>Sewain Aja</title>
  </head>
  <body>
    <header class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="#/Home">
					<img src="logo_SA.png" height="30" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav m-auto">
						<li class="nav-item">
							<a class="nav-link" href="#/Home">Beranda<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#/cari_kendaraan">Cari Kendaraan</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#/sewakan">Sewakan</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#/laporkan">Laporkan</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#/faq">FAQ</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<a href="#/masuk">
							<button type="button" class="button btn-masuk">Masuk</button>
						</a>
						<a href="#/daftar">
							<button type="button" class="button btn-custom">Daftar</button>
						</a>
					</form>
				</div>
			</nav>
		</header>

		<main id="mainContent"></main>

		<footer id="footer">
			<div class="container d-flex pt-5 pb-3 text-center">
				<div class="footer-logo" style="width: 100%;">
					<a href="#/Home"><img src="footer-logo.png" alt="" width="200px"></a>
				</div>
				<div class="footer-medsos d-flex justify-content-center pt-2" style="width: 100%;">
					<a href=""><i class="fa fa-instagram ml-3 mr-3" style="font-size:24px;"></i></a>
					<a href=""><i class="fa fa-facebook mr-3" style="font-size:24px;"></i></a>
					<a href=""><i class="fa fa-twitter" style="font-size:24px;"></i></a>
				</div>
				<div class="footer-address text-left ml-5" style="width: 100%;">
					<p>
						Jl. Rajawali No.41 Kecamatan Pancoran, <br>Kota Jakarta Selatan. <br>Provinsi DKI Jakarta, Indonesia. 12520.
					</p>
				</div>
			</div>
			<div class="container text-center p-1">
				<p>Copyrights © 2022 by SewainAja</p>
			</div>
		</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
